<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="row">
    <div class="row-form">
        <form method="post" action="@Url.Action("SubmeterPdf", "Home")" enctype="multipart/form-data">
            <input type="file" id="arquivo" name="arquivo" />
            <input type="submit" />
        </form>
    </div>
</div>>