<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
</head>

<div class="row">
    <div class="col-sm-12">
        <div class="block">
            <div class="block-content controls">
                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-6">
                                <div>
                                    <label>Código do processo:</label>
                                    <input type="text" maxlength="20" class="form-control" id="idCodigoProcesso" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div>
                                <label>Código do processo:</label>
                                <input type="text" maxlength="20" class="form-control" id="idCodigoProcesso" />
                            </div>
                        </div>
                        <div class="col-md-4 col-md-offset-1">
                            <div style="float:right;">
                                <div style="margin-bottom:5px">&nbsp;</div>
                                <button class="btn btn-success" id="botaoPesquisar" style="margin-bottom:0; margin-left:10px; margin-right:10px;"><i class="fa fa-search"></i> Pesquisar &nbsp;</button>
                                <button class="btn btn-default" id="botaoLimpar" style="margin-bottom:0; margin-left:10px; margin-right:10px; "><i class="fa fa-eraser"></i> Limpar &nbsp;</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>