
/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.btn-success, .btn-success:active {
    background-color: #ea7317 !important;
    border-color: #ea7317 !important;
}

    .btn-success:hover, .btn-success:focus, .btn-success:visited {
        background-color: #f7af78;
        border-color: #f7af78;
    }

.header {
    min-height: 60px;
    background: #ea7317;
    color: white;
    margin-bottom: 20px;
}

.title {
    overflow: auto;
    width: 74%;
    margin: 0px auto;
}